@import url("https://fonts.googleapis.com/css2?family=Inconsolata:wght@700;800&family=Lato:wght@400;700&family=Montserrat:wght@400;700&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html,
body {
  font-family: "Montserrat", sans-serif;
  min-height: 100vh;
  @apply text-black dark:text-gray-50 dark:bg-gray-800 bg-gray-100 bg-cover;
}

@layer base {
  h1 {
    @apply text-6xl text-center;
  }

  h2 {
    @apply text-4xl text-center;
  }

  a {
    @apply no-underline text-black dark:text-gray-50;
  }
}

@layer utilities {
  .burguer,
  .burguer::after,
  .burguer::before,
  .cross,
  .cross::after {
    @apply w-full rounded-md h-1 absolute bg-black dark:bg-gray-50;
  }

  .burguer::after {
    content: "";
    transform: translateY(10px);
  }

  .burguer::before {
    content: "";
    transform: translateY(-10px);
  }

  .cross {
    transform: rotate(45deg);
  }

  .cross::after {
    content: "";
    transform: rotate(-90deg);
  }
}
